<div class="presents">
    <img src="{{this.image}}" alt={{this.name}}>
    <h3 class="title-name-present" >{{this.name}}</h3> 
    <a class="see-more" href="/presents/{{_id}}">See more</a>   
</div>
