<div class="home-page">
    <div class="landing">
        <h1 class="title-frontpage">Dear Santa</h1>
        <button class="button"><a href="/presents">Check the movies</a></button>       
    </div> 
</div>
