<div class="form">
  <div class="form-html">
    <h2> Add new present</h2>
    <form method="POST" action="/presents/new">
    <div class="group-input">
      <label>Name</label>
      <input class="tab" required type="text" name="Name" placeholder="name"/>      
    </div>
    <div class="group-input">
     <label>Image</label>
      <input class="tab" required type="text" name="image" placeholder="https://...">
    </div>
    <div class="group-input">
      <label>Price</label>
      <input class="tab" required type="number" name="price" placeholder="15">
    </div>
    <div class="group-input">
      <label>Recipient</label>
      <input class="tab" required type="text" name="recipient" placeholder="Soranny" >
    </div>
    <div class="group-input">
      <label>Description </label>
      <textarea class="tab-des" required name="description" cols="30" rows="5"></textarea>
    </div>
      <div>
        <button class="form-button" type="submit">Create!</button>
      </div>
    </form>
  </div>
</div>