<div>
  <h2> Add new present</h2>
  <div>
    <form method="POST" action="/presents/new">
      <label>Present title</label>
      <input required type="text" name="name" placeholder="Present title"/>
      <label>Present image</label>
      <input required type="text" name="image" placeholder="https://...">
      <label>Present price</label>
      <input required type="number" name="price" placeholder="15">
      <label>Present recipient</label>
      <input required type="text" name="recipient" placeholder="Soranny" >
      <label>Present season</label>
      <label> Present description </label>
      <textarea required name="description" cols="30" rows="5"></textarea>
      <div class="form-button">
        <button type="submit">Create!</button>
      </div>
    </form>
  </div>
</div>