{{!-- <form method-"GET" action="/presents/search">
  <Label>Search by title</Label>
  <input type="text" name="title"/>
  <button type="submit">Search</button>
</form> --}}
<div class="page-presents">
  {{#each presents }}
  {{> cardPresents this}}
  {{/each}}
</div>
